div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #00BFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_TextMenu1
{
   background-color: transparent;
   background-image: none;
   color: #0000CD;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#wb_TextMenu1 span
{
   margin: 0 4px 0 0px;
}
#wb_TextMenu1 a
{
   color: inherit;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Image6
{
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#NavigationBar1 ul.navbar
{
   list-style: none;
   margin: 0;
   padding: 0;
}
#NavigationBar1 ul.navbar li
{
   height: 30px;
   float: left;
   margin: 0 1px 0 0;
}
#NavigationBar1 ul.navbar li a
{
   display: block;
   position: relative;
}
#NavigationBar1 ul.navbar li a img
{
   position: absolute;
   left: 0;
   z-index: 1;
   border-width: 0;
}
#NavigationBar1 ul.navbar li span
{
   display: block;
   height: 30px;
   position: absolute;
   z-index: 2;
}
#NavigationBar1_item0 { width: 116px; }
#NavigationBar1_item1 { width: 105px; }
#NavigationBar1_item2 { width: 82px; }
#NavigationBar1_item3 { width: 132px; }
#NavigationBar1_item4 { width: 187px; }
#NavigationBar1_item5 { width: 75px; }
#NavigationBar1_item6 { width: 81px; }
#NavigationBar1_item7 { width: 67px; }
#NavigationBar1 a .hover
{
   visibility: hidden;
}
#NavigationBar1 a:hover .hover
{
   visibility: visible;
}
#NavigationBar1 a:hover span
{
   visibility: hidden;
}
#NavigationBar1 .item-name
{
   display: none !important;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 43px;
   margin: 0;
   text-align: left;
}
#wb_Image1
{
   position: absolute;
   left: 114px;
   top: 84px;
   width: 136px;
   height: 136px;
   z-index: 0;
}
#wb_Image2
{
   position: absolute;
   left: 156px;
   top: 238px;
   width: 802px;
   height: 531px;
   z-index: 11;
}
#wb_Text4
{
   position: absolute;
   left: 210px;
   top: 2099px;
   width: 611px;
   height: 324px;
   z-index: 4;
}
#wb_Image3
{
   position: absolute;
   left: 165px;
   top: 1030px;
   width: 670px;
   height: 502px;
   z-index: 12;
}
#NavigationBar1
{
   position: absolute;
   left: 114px;
   top: 20px;
   width: 853px;
   height: 30px;
   z-index: 10;
}
#wb_Text5
{
   position: absolute;
   left: 650px;
   top: 2340px;
   width: 150px;
   height: 90px;
   z-index: 6;
}
#wb_Text6
{
   position: absolute;
   left: 210px;
   top: 2409px;
   width: 364px;
   height: 393px;
   z-index: 8;
}
#wb_TextMenu1
{
   position: absolute;
   left: 650px;
   top: 2473px;
   width: 112px;
   height: 23px;
   z-index: 7;
}
#wb_Image4
{
   position: absolute;
   left: 115px;
   top: 1628px;
   width: 768px;
   height: 432px;
   z-index: 3;
}
#wb_Image5
{
   position: absolute;
   left: 521px;
   top: 2080px;
   width: 300px;
   height: 241px;
   z-index: 5;
}
#wb_Image6
{
   position: absolute;
   left: 666px;
   top: 2629px;
   width: 122px;
   height: 43px;
   z-index: 9;
}
#wb_Text2
{
   position: absolute;
   left: 181px;
   top: 800px;
   width: 605px;
   height: 54px;
   z-index: 1;
}
#wb_Text3
{
   position: absolute;
   left: 179px;
   top: 870px;
   width: 609px;
   height: 72px;
   z-index: 2;
}
#wb_Heading1
{
   position: absolute;
   left: 420px;
   top: 118px;
   width: 207px;
   height: 65px;
   z-index: 13;
}
@media only screen and (min-width: 768px) and (max-width: 969px)
{
div#container
{
   width: 768px;
}
body
{
   background-color: #00BFFF;
   background-image: none;
}
#wb_Image1
{
   left: 100px;
   top: 70px;
   width: 160px;
   height: 160px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 181px;
   top: 800px;
   width: 605px;
   height: 54px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 179px;
   top: 870px;
   width: 609px;
   height: 72px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Image4
{
   left: 83px;
   top: 1580px;
   width: 800px;
   height: 480px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 210px;
   top: 2099px;
   width: 611px;
   height: 324px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Image5
{
   left: 521px;
   top: 2080px;
   width: 300px;
   height: 241px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 650px;
   top: 2340px;
   width: 150px;
   height: 90px;
   visibility: visible;
   display: inline;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#wb_TextMenu1
{
   left: 650px;
   top: 2473px;
   width: 112px;
   height: 23px;
   visibility: visible;
   display: inline;
   margin: 0;
   text-align: center;
}
#wb_TextMenu1 span
{
   margin: 0 4px 0 0px;
}
#wb_Text6
{
   left: 210px;
   top: 2409px;
   width: 364px;
   height: 396px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Image6
{
   left: 666px;
   top: 2629px;
   width: 122px;
   height: 43px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#NavigationBar1
{
   left: 114px;
   top: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
@media only screen and (max-width: 767px)
{
div#container
{
   width: 320px;
}
body
{
   background-color: #00BFFF;
   background-image: none;
}
#wb_Image1
{
   left: 100px;
   top: 70px;
   width: 160px;
   height: 160px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 181px;
   top: 800px;
   width: 605px;
   height: 54px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 179px;
   top: 870px;
   width: 609px;
   height: 72px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Image4
{
   left: 83px;
   top: 1580px;
   width: 800px;
   height: 480px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 210px;
   top: 2099px;
   width: 611px;
   height: 324px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Image5
{
   left: 521px;
   top: 2080px;
   width: 300px;
   height: 241px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 650px;
   top: 2340px;
   width: 150px;
   height: 90px;
   visibility: visible;
   display: inline;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#wb_TextMenu1
{
   left: 650px;
   top: 2473px;
   width: 112px;
   height: 23px;
   visibility: visible;
   display: inline;
   margin: 0;
   text-align: center;
}
#wb_TextMenu1 span
{
   margin: 0 4px 0 0px;
}
#wb_Text6
{
   left: 210px;
   top: 2409px;
   width: 364px;
   height: 396px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Image6
{
   left: 666px;
   top: 2629px;
   width: 122px;
   height: 43px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#NavigationBar1
{
   left: 114px;
   top: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
